[project]
	description = A library to connect to Amazon's MWS web services in an object oriented manner
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Carl (carl689)
[access "refs/for/refs/*"]
	read = group user/Carl (carl689)
	push = group user/Carl (carl689)
	label-Code-Review = -2..+2 group user/Carl (carl689)
	label-Verified = -1..+1 group user/Carl (carl689)
	rebase = group user/Carl (carl689)
	removeReviewer = group user/Carl (carl689)
	submit = group user/Carl (carl689)
[access "refs/heads/*"]
	read = group user/Carl (carl689)
	create = group user/Carl (carl689)
	push = +force group user/Carl (carl689)
	pushMerge = group user/Carl (carl689)
[access "refs/tags/*"]
	push = +force group user/Carl (carl689)
	createTag = group user/Carl (carl689)
	createSignedTag = group user/Carl (carl689)
